$primary-bg-color: #f4f4f4;
$chat-bg-color: rgb(234, 238, 243);;
$header-bg-color: #f1f1f1;
$border-color: #ddd;
$button-bg-color: #f0f0f0;
$button-hover-bg-color: blue;
$text-color: #0a0;
$white: white;
$box-shadow: rgba(0, 0, 0, 0.5);