body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 350px;
    background-color: rgb(178, 178, 246);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    width: 350px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.chat-header-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-header-title {
    margin-left: 10px;
}

.chat-header-title h3 {
    margin: 0;
}

.chat-header-title span {
    color: #0a0;
    font-size: 14px;
}

.chat-content {
    padding: 15px;
    height: 300px;
    overflow-y: scroll;
}

.chat-container::-webkit-scrollbar{
    display: none;
}

.chatbot-message {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.quick-replies button {
    background-color: #f0f0f0;
    border: 2px solid blue;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.quick-replies button:hover {
    background-color: blue;
    color: white;
}

.chat-input-container {
    width: 350px;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}

#input-box {
    margin-left: 10px;
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
}